<div id="gallery-container">
    {{#each items}}
        <div class="gallery">
            <h1>{{this.name}}</h1>

            {{#each this.images}}

                <img class="gallery-img" src="{{this.url }}"  />
            
            {{/each}}

            <a href="/album/{{this.id}}">
            <button type="button""> Albums</button>
            </a>
        </div>


    {{/each}}
</div>

