body{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    background-color: lightgreen;

    
}

#album-heading{
    padding: 1% 45%;
}


nav{
    position: sticky;
    top: 0%;
    left:0%;

    height: 6vh;
    margin-top: -1%;

    background-color: green;
    border: 2px solid black;
    border-top: 0px;
}

nav > a{
    position:relative;
    top:15%;
    left: 50%;

    font-weight: 800;
    font-size: 2em;
    color: rgb(8, 33, 8);

}

#search-bar{
    display: flex;
    width: 50%;
    margin: 10% auto;
    align-content: center;
    justify-content: center;

    height: 20vh;
    background-color: green;
   
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    width: 20vw;

}

h1{
    margin: 1% auto;

}

form button{
    background-color: lightgreen;
}

/*

Hide Other images

*/

.gallery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gallery{
    display: flex;
    flex-direction: column;

    width: 20vw;
    height: 40vh;

    margin: 6% auto;

    background-color: green;

    color: rgb(8, 33, 8);
    text-align: center;

}

.gallery button{
    background-color: rgb(75, 197, 92);
    width: 100%;

}


.gallery img{
    width: 20vw;
    height: 40vh;
}


.gallery-img:nth-child(3){
    display:none;
} 

.gallery-img:nth-child(4){
    display:none;
} 

.gallery-img:nth-child(5){
    display:none;
} 


.gallery-img:last-child{
    display:none;
} 


/* Styling the Player*/

#player{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100vh;
}

.player-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: darkgreen;
    border: 2px dotted green;

}

.player-line h2{
    padding: 1%;
}